/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 nov. 2023, 17 h 18 min 38 s
    Author     : YOUSSEF
*/

#pane{
    -fx-background-image: url("/Images/grassbackGround.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#title{
    -fx-font-size: 70pt;
}